{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Resum&eacute</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'resume/img/dfavicon.png' %}" rel="icon">
  <link href="{% static 'resume/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'resume/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/vendor/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'resume/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: DevFolio - v2.4.1
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body id="page-top">

{% block body %}
{% endblock %}







  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'resume/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'resume/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'resume/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'resume/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'resume/vendor/counterup/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'resume/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'resume/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'resume/vendor/venobox/venobox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'resume/js/main.js' %}"></script>

</body>

</html>